.App {
  max-width: 650px;
  margin: 0 auto;
  padding: 25px;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  border-radius: 15px;
}
